<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.namanquah.beatrice"
        version   = "1.0.0">

    <name>MyRide</name>

    <description>
        A public transit app to improve transit intelligence
    </description>

    <author href="httpp://www.ashesi.edu.gh" email="migaliza.lyza@gmail.com">>
			Beatrice Migaliza
		</author>

   
   

</widget>